".source.maude .meta.definition.attributes.operator":
  editor:
    completions: [
      "assoc"
      "associative"
      "comm"
      "commutative"
      "config"
      "configuration"
      "constructor"
      "ctor"
      "ditto"
      "format"
      "frozen"
      "gather"
      "idem"
      "idempotent"
      "iter"
      "iterated"
      "label"
      "left"
      "memo"
      "message"
      "metadata"
      "msg"
      "nonexec"
      "obj"
      "object"
      "otherwise"
      "owise"
      "poly"
      "polymorphic"
      "prec"
      "precedende"
      "right"
      "special"
      "strat"
      "strategy"
      "id"
      "identity"
    ]
".source.maude":
  editor:
    increaseIndentPattern: "^\\s*(f?(mod|th)|view)\\b.*$"
    decreaseIndentPattern: "^\\s*end(f?(m|th)|v)\\b.*$"
    commentStart: "--- "
